.card-layer1 {
    height: 300px;
    width: 200px;
    background-color: #7c5585;
    border-radius: 12px;
    border: #a471b0 solid 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-icon {
    width: 100px;
    height: 100px;
}